body {
    color: blanchedalmond;
    font-family: AppleMyungjo;
    font-size: 16px;
    background-color: burlywood;
}

/*for adding deldeting functionality*/
* {
.border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}